<div class="container-fluid">
    <h3 class="display-4"><center>News</center></h3><hr/>
    <% @newsData.each do |key,val| %>
        <% if key == "articles" %>
            <% val.each do |param| %>
                <div class="news-outer-box"> 
                    <div class="news-inner-box">
                        <div class="news-img"><img class="news-img" alt="..." src="<%= param['urlToImage'] %>"></div>
                        <div class="news-blogs">
                            <h3 class="news-heading">
                                <a class="news-heading" href="<%= param['url'] %>"><%= param["title"] %></a>
                            </h3>
                            <div class="news-lines">
                                <%= param["description"] + '..' %>
                            </div>
                        </div> 
                    </div>
                </div>
            <% end %>
        <% end %>
    <% end %>
</div>
